<div class="row">
  <div class='top-message col-xs-offset-3 col-xs-6'>
    <h1>shareKinoへようこそ！</h1>
    <p>shareKinoでは、映画のレビューを共有することができます！</p>
    <p>まずは使ってみましょう！</p>

    <div class="btn-wrapper">
      <div class="row">
        <p><%= link_to '会員登録', new_member_registration_path, class: "btn btn-success col-xs-10 col-xs-offset-1" %></p>
      </div>

      <br><p>既に会員の方はこちらから</p>
      <div class="row">
        <p><%= link_to 'ログイン', new_member_session_path, class: "btn btn-info col-xs-10 col-xs-offset-1" %></p>
      </div>

      <br><p>ゲストとしてログインしたい方はこちらから</p>
      <div class="row">
        <p><%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, method: :post, class: "btn btn-warning col-xs-10 col-xs-offset-1" %></p>
      </div>

    </div>

  </div>
</div>
