/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



.header {
 width: 100%;
 height: 120px;
 padding: 30px 20px;
 margin-bottom: 40px;
 border-bottom: solid 1px #383838;
 background-color: #444444;
 }

.header-name {
  color: #ffffcc;
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #364e96;
  border-bottom: solid 3px #364e96;
  margin-right: 30px;
}

.header-item {
  position: relative;
  padding: 0.25em 1em;
  border: solid 2px white;
  border-radius: 3px 0 3px 0;

}


.logo {
 color: #dcdcdc;
 font-family: 'Caveat', cursive;
 .EDITlink{
   text-decoration: none;
   color: #dcdcdc;
 }
}


.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.movie-image img {
	border-radius: 30px;
}

.review-posts {
  padding: 10px 10px;
}


 .footer_inner {
 margin-top: 110px;
 height: 120px;
 background-color: #A9A9A9;
 }

 .footer_box {
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 80px;

 }